<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <% if @user.avatar_url.nil? %>
          <%= gravatar_for @user, size: 150 %>
        <% else %>
          <%= image_tag @user.avatar.standard.url, class: "gravatar" %>
        <% end %>
        <%= @user.name %>      
      </h1>
      <%= @user.suppervisor? ? 'Suppervisor' : 'Member' %>
    </section>
    <% unless @activities.nil? %>
      <h1>Activities</h1>
      <% @activities.each do |activity| %>
        <li>
          <% if activity.acti == 3 %>
            Updated profile.
          <% else %>
            <% if activity.acti == 1 %>
              Started course <%=activity.course.name %>.
            <% else %>
              Completed 
              <%= activity.task.nil? ? "subject #{activity.subject.name}" 
              : "task #{activity.task.name}" %>.
            <% end %>
          <% end %>
          </br>
          <%= time_ago_in_words activity.created_at %> ago.
        </li>
      <% end %>
    <% end %>
  </aside>
  <div class="col-md-8">
    <% unless @subjects.nil? %>
      <h1>
        <%= current_course.name %>
      </h1>
      <ul class="users">
        <%= render @subjects %>
      </ul>
    <% end %>
  </div>
</div>
